<div mat-dialog-content>

  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="data.address">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
